:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

.search-form {
  border-radius: 10px;
  background-color: rgba(197, 195, 195, 0.326);
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
button {
  padding: 14px 40px;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 0.7);
  transition: 0.5s;
  background-color: #359038;
  border: none;
  border-radius: 40px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  transform: translate(-1%, -5%);
  background-color: #43b247;
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 0.3);
}
/* input {
  padding: 10px;
  width: 200px;
  text-align: center;
  border: none;
  border-radius: 3px;
} */
.load-more {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.load-more:hover,
.load-more:focus {
  transform: translate(-51%, -5%);
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}
.form__field::placeholder {
  color: transparent;
}
/* 
.form__field::placeholder-shown + .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
} */

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

.form__field:focus + .form__label {
  color: var(--primary);
  font-weight: 700;
}

.gallery {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.photo-card {
  width: calc((100% - 98px) / 4);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(197, 195, 195, 0.326);
}
.photo-card-image {
  margin-top: auto;
  width: 100%
  align-self: center;
}
.info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
